body {
	color: #99A6BC;
	font-family: Arial;
}

#category {
	display: none;
}

#headline {
	display: none;
}

#gene-headline {
	color: #4C5C75;
}

#genotype-headline {
	color: #4C5C75;
}

#graph-name-value {
	color: purple;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label {
	color: #3F6CB4;
	font-family: Arial;
	font-weight: bold;
}

.has-value.is-focused.Select--single>.Select-control .Select-value .Select-value-label {
	color: #3F6CB4;
	font-family: Arial;
	font-weight: bold;
}

.tab-parent .tab-container {
	border: 2px;
	border-color: white;
	border-style: solid;
}

.tab-parent .tab-container .tab {
	border: 2px;
	border-color: white;
	border-style: solid;
	background-color: white;
	padding: 5px 20px 5px 20px;
}

.tab-parent .tab-container .tab:last-of-type {
	border: 2px;
	border-color: white;
	border-style: solid;
	background-color: white;
	padding: 5px 20px 5px 20px;
}

.tab-parent .tab-container .tab:hover {
	border-style: solid;
	border-color: white;
	background-color: lightgray;
}

.tab-parent .tab-container .tab:hover:last-of-type {
	border-style: solid;
	border-color: white;
	background-color: lightgray;
}

.tab-parent .tab-container .tab--selected {
	border: 2px;
	border-color: white;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}

.tab-parent .tab-container .tab--selected:last-of-type{
	border: 2px;
	border-color: white;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}

.tab-parent .tab-container .tab:last-of-type.tab--selected{
	border: 2px;
	border-color: white;
	border-top: white;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}


