body {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #99A6BC;
	font-family: Arial;
	background-color: ghostwhite;
}

a:-webkit-any-link{
	color: #99A6BC;
	text-decoration: none;
}

button{
	font-family: Arial;
	background-color: ghostwhite;
	color: #99A6BC;
	border-width: 2px;
	border-color: ghostwhite;
	border-style: solid;
	cursor: pointer;
	font-size: medium;
	padding: 0px 5px;
}

#category {
	display: none;
}

#lab-logo-link {
	display: block;
	width: 15%;
}

#lab-logo {
	display: block;
	width: 100%;
}

#headline {
	font-size: xx-large;
	color: #4C5C75;
}

#tabs {
	width: 15%;
}

#gene-headline {
	color: #4C5C75;
}

#genotype-headline {
	color: #4C5C75;
}

#color-scale-headline {
	color: #4C5C75;
}

#slider-headline {
	color: #4C5C75;
}

#graph-name-value {
	color: purple;
}

#first-percentile-button {
	background-color: white;
	border-color: lightgray;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px 10px;
	transition-duration: 0.2s;
}

#first-percentile-button:hover {
	background-color: lightgray;
	font-weight: bold;
	color: #3F6CB4;
}

#ninty-ninth-percentile-button {
	background-color: white;
	border-color: lightgray;
	border-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
	padding: 5px 10px;
	transition-duration: 0.2s;
}

#ninty-ninth-percentile-button:hover {
	background-color: lightgray;
	font-weight: bold;
	color: #3F6CB4;
}


.header {
	display: flex;
	background-color: ghostwhite;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.home-body {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15%;
}


.home-buttons {
	padding: 5px 20px 5px 20px;
	background-color: white;
	border-color: white;
	transition-duration: 0.2s;
}

.home-buttons:hover {
	background-color: lightgray;
	border-color: lightgray;
	color: #3F6CB4;
	font-weight: bold;
}

.page-body{
	background-color: white;
}

.page-buttons {
	padding: 5px 20px 5px 20px;
	transition-duration: 0.2s;
}

.page-buttons:hover {
	background-color: lightgray;
	border-color: lightgray;
	color: #3F6CB4;
	font-weight: bold;
}

.selected-button {
	padding: 5px 20px 5px 20px;
	color: lightgray;
	font-weight: bold;
	cursor: not-allowed;
	display: none;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label {
	color: #3F6CB4;
	font-family: Arial;
	font-weight: bold;
}

.has-value.is-focused.Select--single>.Select-control .Select-value .Select-value-label {
	color: #3F6CB4;
	font-family: Arial;
	font-weight: bold;
}

.tab-parent .tab-container {
	border: 2px;
	border-color: ghostwhite;
	border-style: solid;
}

.tab-parent .tab-container .tab {
	border: 2px;
	border-color: ghostwhite;
	border-style: solid;
	background-color: ghostwhite;
	padding: 5px 20px 5px 20px;
}

.tab-parent .tab-container .tab:last-of-type {
	border: 2px;
	border-color: ghostwhite;
	border-style: solid;
	background-color: ghostwhite;
	padding: 5px 20px 5px 20px;
}

.tab-parent .tab-container .tab:hover {
	border-style: solid;
	border-color: ghostwhite;
	background-color: lightgray;
}

.tab-parent .tab-container .tab:hover:last-of-type {
	border-style: solid;
	border-color: ghostwhite;
	background-color: lightgray;
}

.tab-parent .tab-container .tab--selected {
	border: 2px;
	border-color: ghostwhite;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}

.tab-parent .tab-container .tab--selected:last-of-type{
	border: 2px;
	border-color: ghostwhite;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}

.tab-parent .tab-container .tab:last-of-type.tab--selected{
	border: 2px;
	border-color: ghostwhite;
	border-top: ghostwhite;
	border-style: solid;
	color: #3F6CB4;
	font-weight: bold;
}


